
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.main-container{
	font-family: 'poppins';
	color: black;
	border: 1px solid black;
    padding:0;
	margin: 0;
    width: 100%;
    background-color: #e8e2e2
}

nav ul{
	width: 100%;
	margin: 0 0 0 50px;
	list-style-type: none;
	padding: 0;
	background-color: #72A0C1;
	overflow: hidden;
}

nav a img{
	position : absolute;
	margin: 0;
	padding:0;
	display: block;
	height: 70px;
}
nav ul li{
	float: left;
}

nav ul li a {
	padding: 20px  30px;
	display: block;
	text-decoration: none;
	color: black;
	height: 30px;
}

nav ul li a:hover{
	background-color: #B9D9EB;
}

body {
    font-family: 'Poppins', sans-serif;
    background: url('image.jpg') no-repeat center center fixed;
    background-size: cover;
    margin:0;
    padding:0;
}

.background {
    
    background-color: gainsboro;
    filter: blur(5px);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}

/* Content Section */
.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.text-section {
    width: 50%;
}

.text-section h2 {
    font-size: 36px;
    color: darkblue;
}

.text-section p {
    font-size: 24px;
    color: #333;
}

/* What do we do section */
.what-we-do {
    padding: 20px 0;
}

.what-we-do h2 {
    font-size: 32px;
    padding: 20px;
    color: darkblue;
    margin-bottom: 20px;
}

.services {
    display: flex;
    justify-content: space-around;
}

.service {
    text-align: center;
    background-color:#1ca9c9;
    padding: 20px;
    border-radius: 10px;
    flex: 1;
    margin: 0 10px; /* Space between services */
}

.service img {
    width: 100%;
    max-width: 180px;
    height: auto;
    margin-bottom: 5px;
}

.service p {
    font-size: 16px;
    color: black;
}

.service:hover {
    background-color: lightblue;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background-color: #f0f0f0;
    margin-top: 20px;
}

footer small {
    font-size: 14px;
}
