@import url("https://fonts.googleapis.com/css2?family=Margarine&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  /* background: linear-gradient(
    to right,
    #ffffff 0%,
    #ffffff 50%,
    #000000 50%,
    #000000 100%
  ); */
  /* background-color: rgb(32, 45, 58); */
  /* background-color: rgb(32, 45, 58); */
  /* background-color: rgb(63, 76, 119);rgb(32, 45, 58) */
}

html {
  scroll-behavior: smooth;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px 2%;
}

.container nav {
  padding: 10px;
}

.btn-login {
  padding: 15px;
  margin: 10px 10px;
  background: rgb(157, 126, 97);

  /* background-color: #3e417f; */
  font-size: 20px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  border-radius: 60px;
  width: fit-content;
  border: 1px solid #7f673e;
  text-decoration: none;
  color: white;

  box-shadow: 0 0 10px #f4d8af, 0 0 20px #d7cabc, 0 0 30px #a99c8c;
  cursor: pointer;
}

.container nav ul {
  display: flex;
  list-style: none;
  margin: 10px 20px;
}

.container nav ul li {
  /* margin-right: 1px; */
  position: relative;
  text-shadow: 0 0 20px #f7c337;
}

.container nav a {
  text-decoration: none;
  position: relative;
  color: #433b32;
  margin: 10px 20px;
  font-size: 20px;
}

img {
  width: 110px;
  height: 110px;
  border-radius: 50px;
}
.container {
  background: rgba(249, 226, 204, 0.31);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10.2px);
  -webkit-backdrop-filter: blur(10.2px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  /* background-color: #0d284c; */
  /* background-color: #814692; */
  /* background-color: #a367b1; */
  /* background-color: rgb(63, 76, 119); */
}

.container nav ul li a::after {
  content: "";
  width: 100%;
  height: 3px;
  background-color: rgb(157, 126, 97);

  box-shadow: 0 0 10px #f4d8af, 0 0 20px #a57135, 0 0 30px #b0742b;
  /* box-shadow: 0 0 10px #fdd692, 0 0 20px #e6c99b, 0 0 30px #ecd999; */
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: box-shadow 0.3s;
  transform: scaleY(1.3);
}

.container nav ul li a:hover::after {
  width: 100%;
  background-color: #05f7ff;
  box-shadow: 0 0 10px #ffffff, 0 0 20px #fff, 0 0 30px #fff;
  transform: scaleY(1.5);
}

.home-hero {
  width: 500px;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  margin-left: 940px;
  margin-bottom: 10px;
}

.back {
  width: 100%;
  height: 100%;
  object-fit: cover;

  -webkit-mask-image: url(./assets/circlee.png); /* Use the uploaded mask image */
  -webkit-mask-size: cover; /* Fit mask to container */
  -webkit-mask-repeat: no-repeat; /* No repeating */
  -webkit-mask-position: center; /* Center the mask */

  mask-image: url(./assets/circlee.png);
  mask-size: cover;
  mask-repeat: no-repeat;
  mask-position: center;
  /* float: right; */
}
.full {
  /* background: linear-gradient(
    to left,
    #000000 0%,
    #000000 50%,
    #ffffff 50%,
    #ffffff 100%
  ); */
  /* background: radial-gradient(
    circle at -8.9% 51.2%,
    #af8f6f 15.9%,
    #d0b89c 15.9%,
    #d0b89c 24.4%,
    #e8e4d5 24.5%,
    #e8e4d5 66%
  ); */
  /* 
  background: radial-gradient(
    circle at -6.9% 15.2%,
     #af8f6f 15.9%,
    #d0b89c 15.9%,
    #d0b89c 24.4%,
    #e8e4d5 24.5%,
    #e8e4d5 66%
  ); */

  background: radial-gradient(
    circle at 93.1% 84.8%,
    #e8e4d5 0%,
    #e8e4d5 33.3%,
    #d0b89c 33.4%,
    #d0b89c 66.1%,
    #af8f6f 66.2%,
    #af8f6f 100%
  );
}
.middle-part {
  text-align: center;
  color: #1b1918;

  position: absolute;
  top: 50%;
  left: 42%;
  transform: translate(-50%, -50%);
  font-size: 20px;

  /* background: rgba(129, 129, 129, 0.153);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(127, 58, 58, 0.1);
  backdrop-filter: blur(4.7px);
  -webkit-backdrop-filter: blur(4.7px); */
  /* 
  width: 750px; */
}
.middle-part h1 {
  padding: 10px;
  font-size: 58px;
}

.middle-part span {
  color: #af8f6f;
}
.hero-p {
  width: 600px;
}

/* 
 rgb(255, 124, 0) 0%,
    rgb(255, 124, 0) 15.9%,
    rgb(255, 163, 77) 15.9%,
    rgb(255, 163, 77) 24.4%,
rgb(19, 30, 37) 24.5%,
rgb(19, 30, 37) 66% */

/* ////////////////// products//////////////// */

.home-products {
  position: absolute; /* this will help to place the div anywhere on the screen*/
  left: 50%; /* this will help to move the box half way from the left   But this only moves the left edge of the box to the middle, middle not the whole box*/
  top: 1100px; /* this will help to move the box half way from the top  But this only moves the top edge of the box to the middle, not the whole box*/
  transform: translate(
    -50%,
    -50%
  ); /*Now the box is halfway from bothe left and the top but the (top left coner is in the center of the screen. So, we move it back by 50% of the box's width (left) and height (top)
  to make sure the entire box is perfectly centered. */

  /* Set the size of the box.
   If the box is 1000px wide and 600px tall, it will move up more than if it was smaller.
   Example: 
   - A 600px tall box will move up by 300px (half of 600px).
   - A 100px tall box will move up by 50px (half of 100px). width also the same*/
  width: 1200px;
  height: 600px;
  margin-bottom: 50%;
  border-radius: 20%;
  background: rgb(246, 245, 245);
  box-shadow: 0 30px 50px #dbdbdb;
}

body {
  background-color: #e8e4d5;
}

.home-products .slide .item {
  width: 200px;
  height: 300px;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  border-radius: 20px;
  box-shadow: 0 30px 50px #505050;
  background-position: 50% 50%;
  background-size: cover;
  /* background-repeat: no-repeat; */
  transition: 1s;
}

.home-products .slide .item:nth-child(1),
.home-products .slide .item:nth-child(2) {
  top: 0;
  left: 0;
  transform: translate(0, 0);
  border-radius: 30px;
  width: 100%;
  height: 100%;
  background-size: contain;
}

.home-products .slide .item:nth-child(3) {
  left: 50%;
}

.slide .item:nth-child(4) {
  left: calc(50% + 220px);
}

.slide .item:nth-child(5) {
  left: calc(50% + 440px);
}

.slide .item:nth-child(n + 6) {
  left: calc(50% + 660px);
  opacity: 0;
}

.item .content {
  position: absolute;
  top: 50%;
  left: 100px;
  width: 300px;
  text-align: left;
  color: #f5f3f3;
  transform: translate(0, -50%);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: none;
}

.slide .item:nth-child(2) .content {
  display: block;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 1;
  text-shadow: 3px 4px 4px rgb(18, 15, 15);
  box-shadow: 0 4px 30px rgba(203, 203, 203, 0.1);
  backdrop-filter: blur(4.7px);
  -webkit-backdrop-filter: blur(4.7px);

  width: 300px;
}

.content .name {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: bold;
  opacity: 0;
  animation: animate 1s ease-in-out 1 forwards;
}

.content .des {
  margin-top: 10px;
  margin-bottom: 20px;
  opacity: 0;
  animation: animate 1s ease-in-out 0.3s 1 forwards;
}

.content button {
  padding: 14px 20px;
  border: none;
  cursor: pointer;
  border-radius: 50px;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: bolder;
  opacity: 0;
  animation: animate 1s ease-in-out 0.3s 1 forwards;
}

@keyframes animate {
  from {
    opacity: 0;
    transform: translate(0, 100px);
    filter: blur(33px);
  }

  to {
    opacity: 1;
    transform: translate(0);
    filter: blur(0);
  }
}

.button-1 {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 20px;
}

.button-1 button {
  width: 40px;
  height: 35px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  margin: 0 5px;
  border: 1px solid #000;
  transition: 0.3s;
  background: #e8bd90;
}

.button-1 button:hover {
  background: #cb8c49;
  color: #f9f9f9;
}
.testamonial {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.testmonials-con {
  background-color: #e8e4d5;
  border-radius: 5px;
  padding: 16px;
  margin: 16px 0;
  margin-top: 700px;
  font-family: "Poppins";
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  padding: 1rem;
  /* text-align: center; */
}

.test-header {
  margin-bottom: 2rem;
  text-align: center;
  /* margin-bottom: 50%; */
}

.test-header p {
  letter-spacing: 2px;
  font-size: 1rem;
  font-weight: 500;
}

.test-header h1 {
  font-family: "Noto serif", "serif";
  font-size: 2rem;
  font-weight: 900;
}

.testimonals-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin-bottom: 2rem;
}

.testimonial-car {
  padding: 2.5rem;
  display: grid;
  gap: 1rem;
  background-color: #d0b89c;
  /* background-color: #dacdc0; */
  border-radius: 5px;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
}

.testimonial-car i {
  font-size: 2.5rem;
}

.testimonial-car hr {
  width: 40px;
  margin: auto;
  background-color: #fd8906;
}

.testimonial-car img {
  width: 60px;
  height: 60px;
  margin: auto;
  border: 1px solid black;
}

.testimonial-car .test-name:hover {
  color: #7f673e;
}

.product-listt h1 {
  padding-top: 10px;
  text-align: center;
  font-family: "Poppins";
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 2px;
}
.test-footer button {
  border-radius: 50px;
  padding: 10px 20px;
  background-color: rgb(182, 165, 150);
}
.product-listt p {
  text-align: center;
  padding: 10px;
  font-family: "Noto serif", "serif";
  font-size: 20px;
}
.test-footer p {
  padding: 10px;
}

.social-icons {
  /* margin-top: 40px; */
  background-color: #af8f6f;
  padding: 50px 563px;
}
.social-icons a {
  text-decoration: none;
  font-size: 40px;
  margin-right: 35px;
  color: #342f03;
  display: inline-block;
  transition: transform 0.5s;
}
.social-icons a:hover {
  color: #e29c06;
  transform: translateY(-5px);
}

.login-button a {
  text-decoration: none;
}

.home-upload {
  margin: 10px;
  border-radius: 50px;
  padding: 10px 20px;
  background-color: rgb(182, 165, 150);
  font-size: 15px;
  font-family: "poppins";
}
