@import url("https://fonts.googleapis.com/css2?family=Margarine&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
}

.nav {
  top: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
}
/*nav bar*/

.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: rgb(90, 161, 194);
  overflow: hidden;
  width: 100%;
}

.nav li {
  display: inline;
  float: left;
}

.nav li a {
  display: block;
  color: rgb(19, 16, 16);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color on hover */
.nav li a:hover {
  background-color: #cc3521;
}
.nav-right {
  display: flex;
  float: right;
}
.nav-right a {
  margin-left: 5px;
  margin-right: 20px;
  margin-top: 20px;
  font-size: 24px;
  color: #2e0202;
  transform: translateY(-50%);
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease;
}
.nav-right i:hover {
  color: #e6a10e;
}

h1,
p,
a {
  margin: 0;
  padding: 0;
  /* font-family: 'Lato'; */
}

.header h1 {
  font-size: 2.8em;
  padding: 10px 0;
  font-weight: 800;
  text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 15px #7a5b2a,
    0 0 20px #8f5100, 0 0 25px #dd9d4f;
  color: #4b3115;
  letter-spacing: 5px;
}

p {
  font-size: 1.1em;
  font-weight: 100;
  letter-spacing: 5px;
}
/*search bar*/
.search {
  width: 500px;
  height: 40px;
  margin: 10px 900px;
  background: #f7f4f4;

  border-radius: 3px;
  border: 1px solid #fff;
}
.search input {
  width: 370px;
  padding: 5px;
  float: left;
  color: #130d0d;
  border: 0;
  background: transparent;
  border-radius: 5px;
  font-size: 14px;
  height: 40px;
}

.search input[type="submit"] {
  position: relative;
  float: right;
  border: 0;
  padding: 0;
  cursor: pointer;
  height: 40px;
  width: 120px;
  color: #fff;
  background: transparent;
  border-left: 1px solid #fff;
  border-radius: 0 3px 3px 0;
  background: #310707;
}
/*
    
 .search-resurlt-list ul {
     display: none;
     position: absolute;
     top:100% ;
     width: 100%;
     left: 0%;
     max-height: 300px;
     overflow-y: auto;
     background-color: #f1f1f1;
     border: 1px solid #b9c0c1;
     

    }
    .search-resurlt-list ul li {
      padding: 10px;
      cursor: pointer;
      border-radius: 3px;

    }
    .result-box ul li:hover {
      background-color: #b9c0c1;

    }*/
/* 
.header {
  width: 100%;
  padding: 180px 0;
  text-align: center;
  background-image: url("../../assets/image copy 17.png");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  color: rgb(4, 31, 88);
} */
 .cart-icon i{
  float: right;
  margin: 10px 900px;
  font-size:30px;
  color: #2e0202;
 transform: translateY(-50%);
 cursor: pointer;
 transition: all 0.3s ease;
}
.header {
  width: 100%;
  padding: 350px 0;
  text-align: center;
  background-image: url("../../assets/image copy 17.png");
  height: 70%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  color: rgb(4, 31, 88);
}

.title h2 {
  margin-top: 50px;
  letter-spacing: 3px;
  color: #4b3115;
  text-align: center;
  font-size: 50px;
  /* padding: 50px ; */
  font-weight: 800;
  font-family: "Lato";
}

/*category */
.cat {
  padding: 5px;
  text-align: center;
  background-color: #cbbcad;
  transition: 0.3s;
  width: 250px;
  border: 1px solid black;
  border-radius: 20%;
  margin: 10px;
  border: none;
}

/* #d0b89c 66.1%,
    #af8f6f 66.2%,
    #af8f6f 100% */
.cat img {
  width: 240px;
  height: 240px;
  padding: 15px;
}
.cat:hover {
  transform: scale(1.1);
}
/* product cards*/
/* Float four columns side by side */
/* .column {
  float: left;
  padding: 100px;
  width: 27%;
} */

.category-1 {
  margin-left: 25px;
}
.category-1 a {
  text-decoration: none;
  color: #f1f1f1;
  letter-spacing: 3px;
  font-family: "Poppins";
}

/* Remove extra left and right margins, due to padding in columns */
/* .row {
  margin: 0 -5px;
} */
.container-1 h4 {
  font-size: 25px;
}

.row {
  display: flex;
  justify-content: space-between; /* Creates equal spacing between columns */
  flex-wrap: nowrap; /* Prevents columns from wrapping onto the next line */
  margin: 0 -15px; /* Adjust for padding */
  padding-top: 100px;
  padding-bottom: 100px;
}

.columns {
  flex: 1; /* Makes all columns take equal space */
  max-width: 33.33%; /* Each column will take one-third of the row */
  padding: 15px; /* Adds space around the column */
  box-sizing: border-box; /* Ensures padding and border are included in the column width */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

 /* product cards*/
  /* Float four columns side by side */
  .column-1 {
    float: left;
   height: 300px;
    padding: 40px 10px;
    display: flex;
    max-width: 500px;
    justify-content: space-between; /* Creates equal spacing between columns */
  flex-wrap: nowrap;
  margin-top: 150px;
  margin-left: 100px;
  }
  
 
    /* Style the counter cards */
    .card {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
      padding: 10px;
      text-align: center;
      background-color: #f1f1f1;
      transition: 0.3s;
      width: 300px;
      height: 300px;

    }
    .card:hover{
      transform: scale(1.1);
    }
   
    .card .container-2 a{
      font-size: 20px;
      font-weight: 150;
      font-family: 'Lato';
      text-decoration: none;
      color: #642907;
      
    }
    .card img{
      
        justify-content: space-between;
      border-radius: 15px;
        overflow: hidden;
        width:100%;
        height: 100%;
        margin-bottom: 10px;
        align-content: center;
        transition: transform 0.5s;
    }
    .container-2 input[type="submit"] {
     
      background-color: #6b3f16;
      border-radius: 6px;
      font-size: 16px;
      color: #FFFFFF;
      text-decoration: none;
      padding: 10px 20px;
      transition: all .5s;
      float: l;

      
    }
    
    .container-2 input[type="submit"]:hover {
      opacity: 0.7;
    }  
    
     