html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.products-container {
  width: 100%;
  height: 100%;
  color: #000;
  padding: 10px;
  background-color: #e7d4b5;
  text-align: center;
}
.products-container th,
td {
  padding: 10px;
  border: 2px black solid;
}
.products-container table {
  border-collapse: collapse;
  border: 2px black solid;
  background: rgba(255, 255, 255, 0.531); /* Lower the opacity */
  box-shadow: 0 8px 32px 0 rgba(135, 86, 31, 0.37);
  backdrop-filter: blur(10px); /* Increase the blur for a stronger effect */
  -webkit-backdrop-filter: blur(10px); /* Safari support */
  margin-left: 100px;
}
.products-container td {
  padding: 5px;
  font-family: Arial, Helvetica, sans-serif;
}
.products-container th {
  padding: 15px;
  border: 2px solid black;
  background-color: #a0937d;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}

/* Table data cells */
.products-container td {
  padding: 10px;
  border: 2px solid black;
  text-align: center;
}

/* Set equal width for each column */
.products-container th,
.products-container td {
  width: calc(
    100% / 8
  ); /* Divides equally across 7 columns (adjust for more/less columns) */
}
.manage-btn {
  background-color: #b17457;
  border: none;
  color: white;
  padding: 6px 10px;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 10px;
}
.edit-btn:hover {
  background-color: #603f26;
  color: white;
}
.dlt-btn:hover {
  background-color: red;
}
.manage-btn:hover {
  cursor: pointer;
}

.close-btn {
  width: 60px;
  height: 60px;
  border-radius: 50px;
  float: right;
  margin: 20px;
  font-size: 19px;
  border: none;
  background-color: #b17457;
  color: black;
}
.close-btn:hover {
  cursor: pointer;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  background-color: #603f26;
  color: aliceblue;
}
.manage-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
