html,
body {
  margin: 0;
  padding: 0;
  height: 100%;

  background-image: url("../admin-images/bg1.jpg");
}

.admin-dashboard-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* background-color: brown; */
  width: 100%;
  height: 100%;
}
.side-navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  background: rgba(197, 182, 189, 0.27); /* Lower the opacity */
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(10px); /* Increase the blur for a stronger effect */
  -webkit-backdrop-filter: blur(10px); /* Safari support */
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.content-dashboard {
  margin-left: 250px;
  width: calc(100% - 250px);

  /* background: radial-gradient(
    759px at 14% 22.3%,
    rgb(10, 64, 88) 0%,
    rgb(15, 164, 102) 90%
  ); */
  height: 100%;
}

.grid-container {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Create 3 equal columns */
  grid-auto-rows: 200px; /* Default row height */
  padding: 10px;
  gap: 20px; /* Gap between items */
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 23px;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  border-radius: 10px;
}
.grid-item h2 {
  margin: 0;
}
/* Customize specific grid items to make them larger */
.grid-item.large-width {
  grid-column: span 2; /* This item spans 2 columns */
}

.grid-item.large-height {
  grid-row: span 2; /* This item spans 2 rows */
}
.grid-item:hover {
  cursor: pointer;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}
.div-logo {
  width: 100px;
  margin-left: 70px;
}
.logo-img {
  width: 100%;
}

.admin-user-img {
  width: 50px;
}
.admin-user {
  padding: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: rgba(255, 255, 255, 0.75);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 20px;
  margin: 5px 10px;
}
.admin-user-text {
  margin-left: 20px;
}
.admin-user-text h2,
p {
  margin: 0;
}
.side-nav-ul {
  list-style: none;
}
.side-nav-ul li {
  padding: 10px;
}

.side-nav-ul li:hover {
  cursor: pointer;
  background-color: #c1759bbc;
  border-radius: 10px;
  color: aliceblue;
}
.side-nav-ul li a {
  margin-top: 5px;
  font-size: 19px;
  color: black;
  text-decoration: none;
}
.side-nav-ul li a:hover {
  color: aliceblue;
}

.admin-icons {
  font-size: 30px;
}
.side-arrow {
  margin-left: 65px;
  margin-top: 9px;
  font-size: 15px;
}
.dropdown-ul {
  display: none;
  list-style: none;
}
.show {
  display: block;
  font-size: 18px;
}
.rotate {
  transform: rotate(90deg);
}
.manufactures-item {
  cursor: pointer;
}
.dropdown-ul li {
  margin-left: 15px;
}

.dropdown-ul li:hover {
  background-color: #ac255ba5;
  color: white;
  border-radius: 5px;
}

.dropdown-ul li a {
  text-decoration: none;
  color: black;
}
.dropdown-ul li a:hover {
  color: white;
  border-radius: 5px;
}
